.header{
display: flex;
align-items: center;
justify-content:space-between;
padding: 1rem;
}

.logo{
display: flex;
align-items: center;
justify-content: flex-start;
gap: 1rem;
flex: 1;
}

.logo>span{
    font-weight: bold;
    font-size: 1.5rem;

}

.menu{
flex: 1;
display: flex;
list-style: none;
gap: 1rem;
font-size: 18px;
}
.menu>li:hover{
cursor: pointer;

}
.righside{
    flex:1;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.cart{
    position: relative;

}

